.reviews{
  background-image: url("../img/reviews-bgd.png");
  background-size: cover;
  background-position: center;
  padding-top: 108px;
  padding-bottom: 29px;
  text-align: center;
color: $main-color-light;
  @media (max-width: 992px){
    padding-top: 86px;
    padding-bottom: 20px;
  }
  @media (max-width: 480px) {
    padding-top: 57px;
  }
}
.reviews__title{
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 82px;
  @media (max-width: 992px){
    margin-bottom: 88px;
    font-size: 42px;
    line-height: 44px;
  }
  @media (max-width: 480px) {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 53px;
  }
}
.reviews__list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 112px;
  column-gap: 93px;
  padding-left: 0;
  margin: 0 auto;
  @media (max-width: 992px){
    grid-template-columns: 1fr 1fr;
    row-gap: 65px;
    column-gap: 73px;
  }
  @media (max-width: 670px) {
    row-gap: 45px;
    column-gap: 57px;
  }
  @media (max-width: 480px){
    grid-template-columns: 1fr;
    row-gap: 45px;
  }
}
.reviews__img{
  margin: 0 auto;
  @media (max-width: 992px){
    height: 50px;
    margin-bottom: 30px;
  }
  @media (max-width: 670px) {
    height: 40px;
  }
  @media (max-width: 480px) {
   height: auto;
  }
}
.reviews__text{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 0;
}
.size-description{
  margin: 0 auto;
  max-width: 887px;
}
.reviews__description{
  position: relative;
  margin-top: 119px;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $main-color-purple-lighter;
  font-family: 'Lato', sans-serif;
  &::after{
    content: "";
    width: 780px;
    height: 2px;
    background: #645766;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -18px;
    @media (max-width: 992px){
      width: 555px;
    }
    @media (max-width: 680px) {
      width: 450px;
    }
    @media (max-width: 560px) {
      width: 350px;
    }
    @media (max-width: 480px){
      width: 245px;
    }
  }
  @media (max-width: 992px){
    margin-top: 68px;
  }
  @media (max-width: 480px) {
    margin-top: 37px;
  }
}

